@charset "utf-8";
body,h1,h2,h3,p,form,ul,ol,li,dl,dt,dd {
    margin: 0;
    padding: 0;
}
body {
    background: #fff;
    font-size: 12px;
}
ul,ol {
    list-style: none;
}
#top {
    background: #3a6da4 url("../images/admin_top_bg.gif");
}
#top h1 {
    width: 150px;
    height: 80px;
    font-size: 12px;
    background: url("../images/logosmall.png") no-repeat;
    text-indent: -9999px;
    float: left;
}
#top ul {
    float: left;
    padding: 47px 0 0 10px;
}
#top ul li {
    padding: 0 0 0 5px;
    float: left;
}
#top ul li a {
    display: block;
    width: 58px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    background: url("../images/li_bg.png") no-repeat left bottom;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
#top ul li a.selected {
    background: url("../images/li_bg.png") no-repeat right bottom;
    color: #3b6ea5;
}
#top p {
    float: right;
    line-height: 80px;
    padding: 0 20px 0 0;
    color: #fff;
}
#top p a {
    color: #fff;
    text-decoration: none;
}
#top p a:hover {
    color: #fff;
    text-decoration: underline;
}
#sidebar {
    background: #f7fbfc url("../images/sidebar_right.png") repeat-y right;
}
#sidebar dl {
    padding: 20px;
    text-indent: 2px;
}
#sidebar dl dt {
    font-size: 14px;
    color: #3b6ea5;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    margin: 5px 0;
}
#sidebar dl dd {
    height: 22px;
    line-height: 22px;
}
#sidebar dl dd a {
    color: #333;
    text-decoration: none;
}
#sidebar dl dd a:hover {
    text-decoration: underline;
}
#main {
    background: #fff;
}
#main div.map {
    padding: 15px;
    color: #333;
}
#main div.map strong {
    color: green;
}
#main table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#main table table {
    width: 100%;
    text-align: left;
}
#main table.cke_dialog {
    width: auto;
}
#main table.left {
    text-align: left;
}
#main table tr {
    background: #fff;
}
#main table tr:hover {
    background: #ffc;
}
#main table tr.ckeditor {
    background: none;
}
#main table tr.ckeditor tr {
    background: none;
}
#main table.cke_dialog tr {
    background: none;
}
#main table th,#main table td {
    height: 30px;
    line-height: 30px;
    color: #333;
}
#main table th {
    background: #eef3f7;
    border-bottom: 1px solid #d5dfe8;
    font-weight: normal;
}
#main table td {
    border-bottom: 1px solid #eee;
}
#main table.content td {
    text-align: left;
    padding-left: 5px;
}
#main table.content td input.text {
    width: 440px;
}
#main table.content td input.small {
    width: 100px;
}
#main table.content td select {
    border: 1px solid #ccc;
    width: 150px;
    height: 22px;
}
#main table.content td select optgroup {
    font-style: normal;
}
#main table.content td select option {
    padding: 0 0 0 20px;
}
#main table.content td textarea {
    margin: 0;
    width: 440px;
    height: 100px;
    overflow: auto;
}
#main table.content td span.middle {
    vertical-align: 50px;
}
#main a {
    color: #3b6ea5;
    text-decoration: none;
}
#main a:hover {
    text-decoration: underline;
}
#main p.center {
    text-align: center;
    padding: 20px;
}
#main form input.text {
    width: 220px;
    height: 19px;
    background: #fff;
    border: 1px solid #ccc;
}
#main form input.sort {
    width: 30px;
    text-align: center;
}
#main form select {
    width: 100px;
    height: 19px;
    background: #fff;
}
#main form textarea {
    width: 220px;
    height: 100px;
    font-size: 13px;
    background: #fff;
    border: 1px solid #ccc;
    margin: 0 0 0 60px;
}
#main form input.submit {
    cursor: pointer;
    margin: 0 0 0 60px;
}
#main ol {
    height: 30px;
    padding-left: 2.5%;
}
#main ol li {
    float: left;
    padding: 0 10px 0 0;
}
#main ol li a {
    padding: 6px;
    display: block;
}
#main ol li a:hover {
    background: #eee;
}
#main ol li a.selected {
    color: #fff;
    background: #3b6ea5;
}
#adminLogin {
    width: 350px;
    margin: 100px auto;
    color: #666;
    font-size: 14px;
}
#adminLogin fieldset {
    padding: 20px;
}
#adminLogin legend {
    font-size: 16px;
    font-weight: bold;
}
#adminLogin label {
    display: block;
    margin: 5px;
}
#adminLogin label.t {
    color: #999;
    text-indent: 56px;
}
#adminLogin label input.text {
    width: 220px;
    height: 27px;
    border: 1px solid #666;
    background: #eee;
}
#adminLogin input.submit {
    margin: 0 0 0 60px;
    cursor: pointer;
}
#adminLogin label img {
    margin: 0 0 0 56px;
    cursor: pointer;
}
#page {
    text-align: center;
    padding: 10px;
}
#page a {
    border: 1px solid #666;
    padding: 2px 5px;
    margin: 0 2px;
}
#page a:hover,#page span.me {
    color: #fff;
    border: 1px solid #000;
    background: #000;
    text-decoration: none;
}
#page span.disabled {
    border: 1px solid #ccc;
    padding: 2px 5px;
    margin: 0 2px;
    color: #ccc;
}
#page span.me {
    padding: 2px 5px;
    margin: 0 2px;
}
