@charset "utf-8";
#details {
	width: 690px;
	min-height: 600px;
	float: left;
	margin: 0 0 10px;
}
#details h2 {
	border: 1px solid #ccc;
	border-bottom: none;
}
#details h2 a {
	color: #360;
	text-decoration: none;
}
#details h2 a:hover {
	color: #f60;
}
#details h3 {
	text-align: center;
	color: #333;
	padding: 20px 0 0 0;
	font-size: 22px;
}
#details div.d1 {
	text-align: center;
	padding: 10px;
}
#details div.d2 {
	padding: 10px;
	margin: 10px;
	background: #ffffee;
	border: 1px solid #ccc;
	line-height: 150%;
}
#details div.d3 {
	padding: 20px 10px;
	line-height: 250%;
	word-wrap: break-word;
}
#details div.d4 {
	padding: 8px;
	border: 1px dashed #ccc;
}
#details div.d5 {
	margin: 10px 0;
	padding: 8px;
	border: 1px solid #ccc;
	clear: both;
}
#details div.d5 p {
	margin: 10px 0;
}
#details div.d5 p.red {
	color: red;
}
#details div.d5 textarea {
	width: 650px;
	height: 150px;
	background: #eee;
	border: 1px dashed #ccc;
}
#details div.d5 p input.text {
	width: 80px;
	height: 20px;
	border: 1px dashed #eee;
	background: #eee;
}
#details div.d5 p img.code {
	width: 78px;
	height: 30px;
	position: relative;
	top: 10px;
	cursor: pointer;
}
#details div.d5 p input.submit {
	width: 80px;
	height: 25px;
	cursor: pointer;
}
#details div.d6 {
	width: 688px;
	margin: 10px 0;
	border: 1px solid #ccc;
	float: left;
}
#details div.d6 h2 {
	border: none;
}
#details div.d6 h2 a {
	float: right;
	font-weight: normal;
	padding-right: 10px;
	color: #666;
}
#details div.d6 h2 a span {
	color: red;
}
#details dl {
	width: 670px;
	margin: 10px 0;
	margin-left: 8px;
	float: left;
	border-bottom: 1px dashed #ccc;
}
#details dl dd.info {
	font-size: 12px;
	line-height: 150%;
}
#details dl dd.bottom {
	text-align: right;
}
#details dl dt {
	float: left;
}
#details dl dd span {
	color: #06f;
}
#details dl dd {
	float: right;
	width: 585px;
	padding: 0 0 10px 10px;
}
#details dl dd em{
	float: right;
	font-style: normal;
}
#sidebar {
	width: 260px;
	min-height: 600px;
	float: right;
	margin: 0 0 10px;
}
#sidebar div.nav {
	border: 1px solid #ccc;
	text-align: center;
	padding: 0 0 5px;
	margin: 0 0 10px;
}
#sidebar div.nav span {
	padding: 5px 0 0;
	display: inline-block;
}
#sidebar div.nav strong {
	width: 110px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #ccc;
	display: inline-block;
	margin: 5px 0 0 0;
}
#sidebar div.nav strong a {
	font-weight: normal;
	text-decoration: none;
	color: #666;
	display: inline-block;
	width: 110px;
	height: 25px;
	background: #eef3f7;
}
#sidebar div.right {
	border: 1px solid #ccc;
	margin: 0 0 10px;
}
#sidebar div.right ul {
    padding: 2px 10px 0 10px;
}
#sidebar div.right ul li {
    height: 23px;
    line-height: 23px;
    background: url("../images/pointer.png") no-repeat left center;
    padding: 0 0 0 10px;
}
#sidebar div.right ul li em {
    float: right;
    font-style: normal;
    font-family: "Tahoma";
}
#sidebar div.right ul li a {
    color: #666;
    text-decoration: none;
}
#sidebar div.right ul li a:hover {
    text-decoration: underline;
}
