@charset "utf-8";
#reg {
	width: 100%;
	float: left;
	margin: 0 0 10px;
}
#reg h2 {
	border: 1px solid #ccc;
	border-bottom: none;
	text-align: center;
}
#reg h2 a {
	color: #360;
	text-decoration: none;
}
#reg h2 a:hover {
	color: #f60;
	text-decoration: none;
}
#reg form {
	border: 1px solid #ccc;
	padding: 20px 0px;
}
#reg form dl {
	padding-left: 250px;
}
#reg form dl dd {
	padding: 5px 0;
}
#reg form dl dd span.reg{
	color: red;
}
#reg form dl dd input.text,#reg form dl dd select {
	width: 220px;
	height: 22px;
	border: 1px solid #999;
	background: #eee;
}
#reg form dl dd img.face {
	margin: 0 0 0 60px;
}
#reg form dl dd img.code {
	cursor: pointer;;
	margin: 0 0 0 60px;
}
#reg form dl dd input.submit {
	cursor: pointer;;
	margin: 0 0 0 60px;
}
