<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="../style/admin.css">
</head>
<body id="sidebar">
    <dl>
        <dt>内容管理</dt>
        <dd><a href="../admin/nav.php?action=show" target="main">设置网站导航</a></dd>
        <dd><a href="../admin/content.php?acton=show" target="main">查看文档列表</a></dd>
        <dd><a href="../admin/comment.php?acton=show" target="main">管理员评论审核</a></dd>
        <dd><a href="../admin/rotatain.php?acton=show" target="main">首页轮播器</a></dd>
        <dd><a href="../admin/adver.php?acton=show" target="main">广告服务</a></dd>
    </dl>
</body>
</html>
